
.category_layout{
    display:flex;
}

.category_layout_right{
    float:right;
    /*display:block;*/
    margin-right : 10%;
}

/*카테고리 navbar*/
.category_navbar{
    float:left;
    margin : 3% 3% 0 8%;
    /*display:block;*/
}
.category_list{
    width:200px;
    list-style: none;
}
.dropdown{
    border-top : 1px solid #e4e4e4;
}
.category_item{
    padding : 5% 5% 5% 5%;
    font-weight: 600;
    background:#fafafa;
    border-bottom:1px solid #e4e4e4;
    border-left:1px solid #e4e4e4;
    border-right:1px solid #e4e4e4;
}

.category_sub_list{
    padding:0;
    border-top : 1px solid #e4e4e4;
    background:#fafafa;
}

.category_sub_item{
    font-weight: 600;
    background:white;
    border-bottom:1px solid #e4e4e4;
    border-left:1px solid #e4e4e4;
    border-right:1px solid #e4e4e4;
    padding:10px 0 10px 10px;
    font-size: 12px;
}
.category_link{
    text-decoration:none;
    color:black;
}

.dropdown:hover .category_sub_list{
    display:block;
}

.category_sub_list{
    display: none;
    list-style:none;
}

/*카테고리 카로셀*/
.carousel{
    text-align : center;
}

#carousel_container{
    width : 100%;
    display : inline-block;
    box-shadow : 0 3px 0 0 #EFEFEF;
    /*border-bottom-style : solid;*/
    /*border-bottom-color : #EFEFEF;*/
}

/* 검색 */


/* 내가 구독한 상품*/
.my_ss_product{
    text-align : center;
    margin : 5%;
}
.my_ss_product h2{
    color: white;
    display : inline-block;
    width : 100%;
    margin : 30px;
    height : 80px;
    background : lightblue;
}

/* 카테고리 상품*/
.product_container{
    display:flex;
    flex-direction: row;
    flex-wrap : wrap;
    width: 100%;
}

.product{
    width:25%;
    height: 100%;
    margin-bottom : 4%;
    /*border: 1px solid black;*/
}
.product_img_div{
    text-align: center;
}
.product_img{
    max-width:95%;
    max-height:100%;
    /*object-fit:cover;*/
    /*margin : 2%;*/
}
.product_title{
    font-size : 1.3rem;
    font-weight: 600;
    margin : 4%;
}
.product_des{
    font-size : 0.8rem;
    margin : 2% 3% 2% 4%;
}
.product_mon{
    font-size : 1rem;
    margin : 2% 3% 1% 4%;
}
.product_link_div{
    text-align: center;
}
.product_link{
    position:inherit;
    font-size : 1.2rem;
    font-weight: 500;
    text-decoration: none;
    background : #0B5ED9;
    color : white;
    border-radius : 10px;
    padding :5px;
}

/*카테고리 서브 네브바*/
.category_sub_navbar{
    display:flex;
    justify-content : center;
    margin-bottom : 4%;
}
.category_sub_link{
    text-decoration: none;
    background : #B8B8B8;
    color : white;
    font-size : 1rem;
    font-weight: 600;
    border-radius: 10px;
    padding : 8px;
}
.category_sub_link:hover{
    background : #1DC078;
}
.category_sub_link_div{
    margin-left : 1%;
}


.category_name{
    background-color : coral;
    font-size : 1.5rem;
    font-weight: 600;
    color : black;
    padding : 5px;
    border-radius: 10px;
}